<html>
<head>
    <link rel="stylesheet" href="{{ static_path }}/fonts/fonts.css">
    <link rel="stylesheet" href="{{ static_path }}/style.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="last">
    <h2 class="small-height">Print<br>Last Page</h2>
    <div class="sep"></div>

    <div class="text">
        <h3>User: {{ contestant_id }}</h3>
        <h3>Desk: {{ zone }} {{ desk_id }}</h3>
        <p>Name: {{ contestant_name }}</p>

        <p>Print ID: {{ print_id }}</p>
        <p>Pages: {{ num_pages }}{% if original_num_pages %} (was {{ original_num_pages }}){% endif %}</p>
        <p>Time: {{ time }}</p>
  </div>
</div>

</body>
</html>
